div.blue {
  background-color: #4285F4;
}

div.green {
  background-color: #34A853;
}

div.yellow {
  background-color: #FBBC05;
}

div.red {
  background-color: #EA4335;
}

div.bg {
  background-color: #4dd2ff;
}

body {
  background-color: #4dd2ff;
}
