.mdl-dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    width: 280px;
}

.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem;
}

.mdl-dialog__actions {
    padding: 8px 8px 8px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mdl-dialog__actions > * {
    margin-right: 8px;
    height: 36px;
}

.mdl-dialog__actions > *:first-child {
    margin-right: 0;
}

.mdl-dialog__actions--full-width {
    padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width > * {
    height: 48px;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 16px;
    margin-right: 0;
    text-align: right;
}

.mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0, 0, 0, 0.54);
}

body {
    width: 1920px;
    height: 974px;
    position: relative;
    background-image:url(../images/2.png);

}

.button-1 {
    width: 80px;
    height: 40px;
    position: relative;
}

#canvasContainer {
    bottom: 55%;
    right: 77%;
    position: absolute;
    vertical-align: middle;
}

input {
    width: 20px;
}

#delta-1 {
    float: right;
    position: absolute;
    bottom: 47%;
    right: 80%;
}

#angle-1 {
    float: right;
    position: absolute;
    bottom: 47%;
    right: 72%;
}

#grid-1 {
    float: right;
    position: absolute;
    bottom: 40%;
    right: 58%;
}

#angle-2 {
    float: right;
    position: absolute;
    bottom: 40%;
    right: 72%;
}

#delta-2 {
    float: right;
    position: absolute;
    bottom: 40%;
    right: 80%;
}

#change-2 {
    float: right;
    position: absolute;
    bottom: 40%;
    right: 64%;
}

#grid-2 {
    position: absolute;
    left: -80px;
}

#change-type {
    float: right;
    position: absolute;
    bottom: 41%;
    right: 90%;
}

#level-1 {
    float: right;
    position: absolute;
    bottom: 47%;
    right: 64%;
}

tiling {
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

@media (max-width: 800px) {
    #grid-1 {
        float: right;
        position: absolute;
        bottom: 35%;
        right: 90%;
    }
}

@media (max-width: 660px) {
    #level-1 {
        float: right;
        position: absolute;
        bottom: 34%;
        right: 80%;
    }

    #change-2 {
        float: right;
        position: absolute;
        bottom: 34%;
        right: 72%;
    }
}

@media (max-width: 520px) {
    #canvasContainer {
        bottom: 55%;
        right: 79%;
        position: absolute;
        vertical-align: middle;
    }

    #angle-1 {
        float: right;
        position: absolute;
        bottom: 28%;
        right: 80%;
    }

    #angle-2 {
        float: right;
        position: absolute;
        bottom: 28%;
        right: 88%;
    }

    #change-2 {
        float: right;
        position: absolute;
        bottom: 21%;
        right: 84%;
    }
}
